# compiled python
*.py[cod]

#Virtual enviroment
venv

#intellij
.idea/

#logs 
log/
*.log

#conf and ini files
annon-tool.conf
annon-tool-uwsgi.ini

#media files
*import bucket/
*media/
*.zip
pre-import/

# production database
annotation-tool/data.sqlite

# log files
nohup.out
output-*

#dunno filws
.fuse*
# ignoring docs
sphinx/build/

