{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
 {{ super() }}
    <link href="{{ url_for('static', filename='styles/annon-tool.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
 {{ super() }} - Registrar nuevo etiqueta
{% endblock %}

{% block content_title %}
    <h1 class="page-header">Opciones avanzadas</h1>
{% endblock %}
{% block content %}
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-sticky-note"></i> Eliminar imagenes sin etiqueta
        </div>
        <div class="panel-body">
            <div class="list-group">
                <form class="form" method="post" role="form" >
                    {# wtf.quick_form(form) #}
                    {{ form.hidden_tag() }}
                    <p>Esta opcion eliminará de forma permanente, de la base de datos, todas las imagenes asociadas a la etiqueta "sin-etiqueta"</p>
                    <div class="form-group" >
                        <label class="control-label" for="clave">A modo de seguridad, escribe la palabra 'eliminar' para seguir con el proceso</label>
                        <input class="form-control" id="clave" name="clave" type="text" value="" placeholder="eliminar">
                    </div>
                    <input class="btn btn-danger" id="submit" name="submit" type="submit" value="Eliminar">
                </form>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
</div>
{% endblock %}